---
import Layout from '../../layouts/Layout.astro';

export async function getStaticPaths() {
  const projects = await Astro.glob('../../content/projects/*.md');

  return projects.map(project => ({
    params: { 
      slug: project.frontmatter.slug
    },
    props: {
      project
    },
  }))
}

const { Content, frontmatter } = Astro.props.project;
---

<Layout title={`${frontmatter.title} - ${frontmatter.description}`}>
	<>
    <ul>
      {frontmatter.repos.map((repo: any) => <li><a target="_blank" href={repo}>{repo}</a></li>)}
    </ul>
    <ul>
      {frontmatter.stack.map((technology: any) => <li>{technology}</li>)}
    </ul>

    <div class="flex justify-center">
      <article class="markdown markdown-invert max-w-none md:markdown-lg lg:markdown-xl">
        <Content/>
      </article>
    </div>
	</>
</Layout>

<style lang="scss">

</style>
